.driverDetail{
    display: flex;
    align-items: center;
}
.driver_info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.driver_rating{
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: gray;
}
.driver_info > h4{
    font-weight: 700;
}